{% extends 'base.html.twig' %}

{% block title %}espace personnel | {{ app.user.userIdentifier }}{% endblock %}

{% block body %}




    <div class="user-profil">
    <h2 class="text-center">Espace personnel</h2>
    <h3>Infos utilisateur:</h3>
    <ul>
        <li>Nom: <strong>{{ app.user.nom }}</strong></li>
        <li>Préom: <strong>{{ app.user.prenom }}</strong></li>
        <li>Email:  <strong>{{ app.user.email }}</strong></li>
    </ul>
    <a class="disconnect" href="/logout">Se déconnecter</a>
</div>

{% endblock %}
