{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="home-page">
    <p class="ranking-order text-center">Classement par ordre de pertinance</p>
    <div class="articles flex jcc fww">
        <p>Confirmer la demande</p>
    </div>
</div>
{% endblock %}

