{% extends 'base.html.twig' %}

{% block title %}New Discussion{% endblock %}

{% block body %}
    <h1>Créer une discussion</h1>

    {{ include('discussion/_form.html.twig') }}

    <a class="text-danger" href="{{ path('app_discussion_index') }}">Retourner</a>
{% endblock %}
