{% extends 'base.html.twig' %}

{% block title %}Edit Disponibilite{% endblock %}

{% block body %}
    <h2>Edit Disponibilite</h2>

    {{ include('disponibilite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_disponibilite_index') }}">back to list</a>

    {{ include('disponibilite/_delete_form.html.twig') }}
{% endblock %}
