{% extends 'base.html.twig' %}

{% block title %}Nouvelle disponibilite{% endblock %}

{% block body %}
 <h2>Créer une nouvelle disponibilité</h2>

{{ include('disponibilite/_form.html.twig') }}
   

{% endblock %}
