{% extends 'base.html.twig' %}

{% block title %}New Disponibilite{% endblock %}

{% block body %}
<div class="disponibilite">
 <h2>Create new Disponibilite</h2>

    {{ include('disponibilite/_form.html.twig') }}
</div>
   

{% endblock %}
