{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Modification des informations</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="text-danger" href="{{ path('app_utilisateur_index') }}">Retourner</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
