aside{
    width: 60%;
    margin: auto;
    padding-top: 50px;
    position: relative;
    nav{
        ul{
            gap: 10px;
            li{
                background: rgba(118, 118, 118, 0.05);
                border-radius: 10px;
                width: 120px;
                overflow: hidden;
                a{
                    padding: 10px;
                    img{
                        width: 40px;
                        margin-bottom: 5px;
                    }
                    span{
                        text-overflow: ellipsis;
                    }
                }
            }
            li:hover{
                background: rgba(118, 118, 118, 0.2);
                transition: .2s ease-in-out;
            }
            li:first-child{
                img{
                    width: 55px;
                }
            }
        }
    }
        
}