$main-color: #000000;
$main-color-white: #FFFFFF;
$main-color-default-text: #4E4E4E;
$main-color-no-active-text: #767676;
$main-color-logo: #707070;
$main-color-hover-article: #FF5A33;
$main-color-success: #03543f;
$main-color-link: #1d4ed8;