footer{
    background-color: $main-color;
    nav{
        padding: 20px 0;
        .menu-title{
            font-size: 1.8rem;
        }
        ul{
            margin-top: 15px;
            li{
                margin-bottom: 5px;
            }
        }
    }
}