header{
    background: $main-color-white;
    box-shadow:  0px 1px 10px rgba(118, 118, 118, 0.25);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 2;
    .navbar{
        gap: 50px;
        margin: auto;
        .search{
            box-shadow:  0px 1px 8px rgba(118, 118, 118, 0.25);
            border: 1px solid transparent;

            padding: 5px 10px;
            border-radius: 50px;
            > div{
                position: relative;
                .filter-list{
                    box-shadow:  0px 1px 8px rgba(118, 118, 118, 0.25);
                    position: absolute;
                    background: $main-color-white;
                    border-radius: 10px;
                    top: 40px;
                    left: 0;
                    width: 400px;
                    height: 500px;
                    overflow-y: auto;
                    display: none;
                    .btn-valid-filter{
                        background: $main-color;
                        color: $main-color-white;
                        padding: 10px;
                        border-radius: 10px;
                        width: 100px;
                        transition: .2s ease-in-out;
                    }
                    .btn-valid-filter:hover{
                        background: $main-color-hover-article;
                    }
                    ul .btn-choise-event{
                        border: 1px solid $main-color-default-text;
                        border-radius: 5px;
                        width: 25px;
                        height: 15px;
                        margin-right: 10px;
                    }
                    .container-price-filter{
                        margin-bottom: 10px;
                    }
                    input{
                        border: 1px solid rgba(118, 118, 118, 0.5);
                        border-radius: 10px;
                        padding: 5px;
                        width: 40%;
                        height: 50px;

                    }
                    label ~ div{
                        margin-top: 10px;
                    }
                    > div{
                        padding: 10px;
                        .close-btn-filter{
                            margin-right: 10px;
                        }
                    }
                    hr{
                        background: none;
                        border: 1px solid rgba(118, 118, 118, 0.25);
                    }
                    .flex hr{
                        transform: rotate(90deg);
                        margin: 5px 0;
                    }
                }
            }
            > input{
                margin: 0 10px;
            }
            input{
                width: 100%;

            }
        }
        h1{
            color: $main-color-logo;
        }
        .search{
            width: 100%;
            img:hover{
                cursor: pointer;
            }
        }
        ul{
            gap: 20px;
            li{
                transition: .2s ease-in-out;
                a{
                    display: flex;
                    gap: 10px;
                }
                span{
                    transition: .2s ease-in-out;
                }
            }
            li:hover a span{
                color: $main-color-hover-article;
            }
        }
    }
    
}