.home-page{
    .ranking-order{
        margin-bottom: 20px;
    }
}

.articles{
    gap: 50px;
}

.article-item{
    display: block;
    width: 300px;
    > div{
        margin-bottom: 10px;
    }
    .image-picture img{
        height: 300px;
        width: 100%;
        border-radius: 20px;
    }
    .note{
        margin-left: 5px;
    }
}

.article-item:hover p, .article-item:hover div{
    color: $main-color-hover-article;
    transition: .2s ease-in-out;
}