.user-profil{
    margin-top: 50px;    
    h3{
        margin: 25px 0;
    }   
    ul{
        margin-bottom: 15px;
        li{
            margin: 15px 0;
        }
    }
    .disconnect{
        color: $main-color-hover-article;
    }
}