{% extends 'base.html.twig' %}

{% block title %}Hello OptionServiceController!{% endblock %}

{% block body %}

<a class="btn-default" href="{{ path('app_option_service_new') }}">Créer un nouveau</a>
{% endblock %}
