{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h2>Créer un nouveau service</h2>

    {{ include('option_service/_form.html.twig') }}

    <a class="text-danger" href="{{ path('app_option_service_index') }}">Retour à la liste</a>
{% endblock %}
